body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

td { 
  word-wrap: break-word;
  white-space: pre-wrap; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-input {
  margin-bottom: 20px;
}

.search-input ::placeholder {
  color: #fff!important;;
}

a:link {
  text-decoration: none;
  color: #04427d;
}

.remove-item {
  border: none;
  border-radius:100%;
  background-color:#000;
  width: 25px;
  color:#fff;
}

.search-input {
  background-image: url('/src/assets/magnifying-glass-solid.svg');
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: right 8px bottom 8px;
}

.right-align {
  text-align:right;
}

.show-mobile {
  display:none!important;
}

.mobile-menu {
  display:none;
}

.footer {
  background-color:#000;
  color:#fff;
  padding-top:40px;
  padding-bottom:40px;
  font-size:80%;
}

.footer h6 {
  text-transform: uppercase;
}

.footer a {
  color:#fff;
}

.footer ul {
  margin:0;
  padding:0;
  margin-left:15px;
}

.footer li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}

.footer li:before {
  content: "\25BA \0020";
  font-size: 12px;
  position: absolute;
  top: 5px;
  left: -10px;
}

/* top header */

.desktop-menu {
  display: flex;
  justify-content: space-between;
}

.desktop-menu a {
  color: black;
}

.desktop-menu a:hover {
  color: #aaaaaa;
}

.desktop-header-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.desktop-header-info a {
  color: #f60403;
  font-size: 0.9rem;
}

.desktop-header-info a:hover {
  color: #aaaaaa;
}

.icon-phone-red {
  background-image: url('/src/assets/icon-phone-red.png');
  padding-left: 30px;
  background-repeat: no-repeat;
}

.icon-phone-grey {
  background-image: url('/src/assets/icon-phone-grey.png');
  padding-left: 30px;
  background-repeat: no-repeat;
}

.icon-email {
  background-image: url('/src/assets/icon-email.png');
  padding-left: 30px;
  background-repeat: no-repeat;
}

/* loading */

.modal_bk {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(3, 165, 252); /* Fallback color */
  background-color: rgba(3, 165, 252,0.9); /* Black w/ opacity */
  text-align: center;
  color: #fff;
}

#loading {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 3px solid rgba(255,255,255,.3);
  border-radius: 50%;
  border-top-color: #fff;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
  margin-top: 15%;
}

@keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  to { -webkit-transform: rotate(360deg); }
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .hide-mobile {
    display:none!important;
  }

  .show-mobile {
    display:flex!important;
  }

  .center-mobile {
    text-align:center;
  }

  .right-align {
    text-align:center;
  }

  td {
    display: block;
  }

  tr {
    border-bottom: 1px solid #7a7a7a!important;
  }

  .mobile-menu {
    display:inline-block;
    position:fixed;
    right:0;
    padding:10px;
    background-color: white;
    cursor: pointer;
  }
}

/* layout structure */
